/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.rec {
  visibility: visible;
}

.page.theme_dark {
  --color-label: #DB00FF;
  --color-title: #000028;
  --color-title-bg: #FF0070;
  --color-text: #F1B2CE;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
