/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-label: #DB00FF;
  --color-title: #000028;
  --color-title-bg: #FF0070;
  --color-text: #F1B2CE;
  --font-size-label: clamp(7.25rem, 5.6408rem + 6.5183vw, 9.8125rem);
  --font_main: 'IBM Plex Mono', sans-serif;
}
